<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evaluation Form
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Please evaluate each of the sessions along the different items using the following scale:</h3>
              <table class="table table-hover">
                <tr>
                  <th>Rate</th>
                  <th>Scale</th>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="1" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Disagree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="2" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Moderately Agree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="3" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Agree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="4" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Strongly Agree</i></h6></td>
                </tr>
              </table>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Criteria</th>
                  <th>Session</th>
                </tr>
                <tr>
                  <td>Objectives and expectations <br/>were clearly communicated.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Objectives were achieved.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Concepts and content were <br/>presented in a comprehensible <br/>manner by the facilitator/s <br/>and/or speaker/s.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Methodology/ies and teaching <br/>were dynamic.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Activities included in the <br/>session were appropriate and <br/>relevant to the achievement of <br/>the learning objectives.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Sufficient time was alloted <br/>for group discussion and <br/>comments.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Facilitator/s and/or speaker/s <br/>was/were open and responsive <br/>to participants.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Materials provided were useful.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Concepts and information <br/>presented in this session are <br/>relevant to actual work.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Concepts and information <br/>presented in this session are <br/>relevant to personal life.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
        <!--this is footer-->
        <div class="box-footer">
          <a href="/part7" type="button" class="btn btn-block btn-default btn-sm bg-aqua">Next</a>

          <div class="row">
            <div class="col-md-12">
              <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 35%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100">42%</div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer style="background: #fff;padding: 10px; margin-left: 15px; margin-right: 15px;">
    <div>
    <strong>Copyright &copy; 2018. SRG 6th Generation & Noey Mandanas.</strong> All rights reserved.
      <b>Version</b> 1.0.0.0
    </div>
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
