<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evaluation Form
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- /.row -->
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Please evaluate each of the resource person/trainers along the different items using the following scale:</h3>
              <table class="table table-hover">
                <tr>
                  <th>Rate</th>
                  <th>Scale</th>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="1" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Disagree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="2" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Moderately Agree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="3" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Agree</i></h6></td>
                </tr>
                <tr>
                  <td><input id="input-6" name="input-6" class="rating rating-loading" value="4" data-min="0" data-max="4" data-step="1" data-readonly="true" data-size="xs"></td>
                  <td><h6 style="padding-top: 10px"><i>Strongly Agree</i></h6></td>
                </tr>
              </table>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Resource Person/s and/or<br/>Trainer</th>
                  <th>Topic</th>
                </tr>
                <tr>
                  <td>Very knowledge about the <br/>subject matter</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Logically presented the subject<br/> matter</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Able to deliver the topic <br/>within the participants' level<br/> of comprehension.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Able to give direct and precise<br/>answers to questions raised</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>Able to stimulate and sustain<br/>interests of the participants.</td>
                  <td>
                    <input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/>
                  </td>
                </tr>
                <tr>
                  <td>There was good interaction<br/>between the trainer and<br/>participants.</td>
                  <td><input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/></td>
                </tr>
                <tr>
                  <th>Presentation</th>
                  <th></th>
                </tr>
                <tr>
                  <td>Information presented was<br/>updated.</td>
                  <td><input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/></td>
                </tr>
                <tr>
                  <td>Audio-visual aids ware clear.</td>
                  <td><input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/></td>
                </tr>
                <tr>
                  <td>Handouts provided were helpful.</td>
                  <td><input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/></td>
                </tr>
                <tr>
                  <td>Presentation of topics was<br/>too detailed.</td>
                  <td><input id="input-1" name="input-1" class="rating rating-loading" data-min="0" data-max="4" data-step="1" data-size="xs"/></td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
        <!--this is footer-->
        <div class="box-footer">
          <a href="/part8" type="button" class="btn btn-block btn-default btn-sm bg-aqua">Next</a>

          <div class="row">
            <div class="col-md-12">
              <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 42%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer style="background: #fff;padding: 10px; margin-left: 15px; margin-right: 15px;">
    <div>
    <strong>Copyright &copy; 2018. SRG 6th Generation & Noey Mandanas.</strong> All rights reserved.
      <b>Version</b> 1.0.0.0
    </div>
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
