<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evaluation Form
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">you are?</h3>
        </div>
        <div class="box-body">
        <!-- radio -->
          <form name="stado">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdmale" value="Male" onChange="disablefield()"/>
                      I gained one or more specific ideas that I can implement in my area of practice/field.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdfemale" value="Female" onChange="disablefield()"/>
                      I learned a new approach to my practice/field
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdfaculty" value="Faculty" onChange="disablefield()"/>
                      It may help me do a better job
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdemployee" value="Employee" onChange="disablefield()"/>
                      I do not see the impact of this training/seminar on my job.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdstudent" value="Student" onChange="disablefield()"/>
                      I was able to update my skills.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdmale" value="Male" onChange="disablefield()"/>
                      I acquired new and/or advanced skills.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdmale" value="Male" onChange="disablefield()"/>
                      I have better knowledge upon which to base my decisions/actions.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdmale" value="Male" onChange="disablefield()"/>
                      I am reconsidering my views toward the topic(s) presented.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdmale" value="Male" onChange="disablefield()"/>
                      The topic presented was appropriate, but I am undecided as to my own views.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="optionsRadios" id="rdother" value="Others" onChange="disablefield()"/>
                      Others, please specify. <input id="inputtext" type="text" class="form-control" name="other" name="no_stado" disabled />
                    </label>
                  </div>
                </div>
            </form>
        <!-- /.box-body -->
        </div>
        <!--this is footer-->
        <div class="box-footer">
          <a href="/part10" type="button" class="btn btn-block btn-default btn-sm bg-aqua">Next</a>

          <div class="row">
            <div class="col-md-12">
              <div class="progress" style="height: 20px;">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 58%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer style="background: #fff;padding: 10px; margin-left: 15px; margin-right: 15px;">
    <div>
    <strong>Copyright &copy; 2018. SRG 6th Generation & Noey mandanas</strong> All rights reserved.
      <b>Version</b> 1.0.0.0
    </div>
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
